---
Checks:          'clang-diagnostic-*,clang-analyzer-*,misc-*,readability-*,performance-*,linuxkernel-*,-readability-magic-numbers,-performance-no-int-to-ptr,-readability-identifier-length,-misc-no-recursion'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: ''
FormatStyle:     file
User:            dawn
CheckOptions:    {}
SystemHeaders:   false
...

