.vs
.vscode
.idea
.cache
*.swp
build/
cmake-build-debug/
OVMF*
lethe-aml/aml_driver/dsdt.dat
lethe-aml/aml_driver/dsdt.dsl
lethe-aml/aml_driver/dsdt.h
lethe-bootloaders/limine
lethe-bootloaders/loader/uefi
lethe-bootloaders/loader/bootx64.efi
lethe-misc/fat.img
lethe-misc/test.vdi
lethe-misc/fs.dmp
lethe-kernel/font.psf
*.o
*.a
compile_commands.json
