.vs
.vscode
.idea
.cache
*.swp
OVMF*
aml_test
aml_driver/dsdt.dat
aml_driver/dsdt.dsl
aml_driver/dsdt.h

kernel/debug_kernel
kernel/kernel
limine/
lai/
fat.img
test.vdi
fs.dmp
font.psf
*.o
*.a
compile_commands.json
hidden/
log
